rtc.url=https://rtc.local/ccm/
rtc.user=zlatan
rtc.password=password
rtc.workitemid.range=33481..33482


# User/Password or token can be used for authentication
github.user=zlatan
github.password=password
github.token=mySecretToken
github.reponame=myRepo
github.repoowner=zlatan


jira.user=zlatan
jira.password=passsword
jira.url=https://zlatan.atlassian.net
jira.projectkey=SAM
jira.forceupdate=false


# Uncomment following line to enable an exporter which simply prints the work items. 
# sysout.exporter=true

# Set proxy
# proxy.host=myProxy.com
# proxy.port=8080
# non.proxy.hosts=*.local

#find the transition id's for your Jira instance by calling GET on the following resource:
#<JIRA_URL>:<JIRA_PORT>/rest/api/latest/issue/<JIRA_ISSUE>/transitions?expand=transitions.fields
#Tip: execute call 3 times, with issue in different state each time
jira.transitions.todoToInprogress.id=?
jira.transitions.todoToDone.id=?

jira.transitions.inprogressToTodo.id=?
jira.transitions.inprogressToDone.id=?

jira.transitions.doneToTodo.id=?
jira.transitions.doneToInprogress.id=?
